@inject ISpotifyService SpotifyService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider provider;
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="OnNavigateAsync">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <!-- Conteúdo para exibir quando o usuário não tem permissão -->
                    <p role="alert">Você não tem permissão para acessar esta página.</p>
                    <RedirectToLogin></RedirectToLogin>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
@code {
    private bool usuarioCriado;
    public async Task naoAutenticado()
    {
        CustomAuthenticationStateProvider custom = provider as CustomAuthenticationStateProvider;
        await custom.UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("/login");
    }
    private async Task OnNavigateAsync(NavigationContext args)
    {
        CustomAuthenticationStateProvider custom = provider as CustomAuthenticationStateProvider;
        if (!args.Path.Contains("login"))
        {
            var token = await custom.GetToken();
            Console.WriteLine("loginfeitoindoplayer" + args.Path);
            if (string.IsNullOrEmpty(token))
            {
                await naoAutenticado();
            }

            usuarioCriado = await SpotifyService.InitilizeUser();

            if (!usuarioCriado)
            {
                await naoAutenticado();
            }
            else
            {
                UserSession userSession = await custom.GetUserSession();
                await custom.UpdateAuthenticationState(userSession);
            }
        }
    }
}
